<!DOCTYPE html>
<html ng-app="jogadorModule">
<head>
	<meta-charset="utf-8">
	<title>Jogador</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="control/jogadorControl.js"></script>
</head>
<body ng-controller="jogadorControl">
	<div ng-include="'menu.html'"></div>
	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Jogadores</div>
		<div class="panel-body">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
			    </li>
			    <li role="presentation">
			    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="cadastro">
					<br>
					<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
					<button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
					<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
					<button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesquisar</button>
					<hr/>
			    	<form>
					  <div class="form-group col-md-2">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="number" disabled="true" class="form-control" ng-model="jogador.codigo" placeholder="Codigo">
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="exampleInputNome">Nome</label>
					    <input type="text" class="form-control" ng-model="jogador.nome" placeholder="Insira o Nome do Jogador">
					  </div>
					    <div class="form-group col-md-6">
					    <label for="exampleInputPosicao">Posicao</label>
					    <input type="text" class="form-control" ng-model="jogador.posicao" placeholder="Insira a posição do Jogador">
					  </div>
					  					
					</form>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="dados">
				
				
			    	<table class="table table-hover">
			    		<th>Codigo</th><th>Nome</th><th>Posição</th>
			    		<tr ng-repeat="jogadorTabela in jogadors | filter:criterio" ng-click="seleciona(jogadorTabela);">
			    			<td>{{jogadorTabela.codigo}}</td><td>{{jogadorTabela.nome}}</td><td>{{jogadorTabela.posicao}}</td>
			    		</tr>
					</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>